.basic{
    text-align: center;
}
.name{
    margin-top: 50px;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name span{
    color: aqua;
    padding-left: 15px;

}
.pro{
    margin-top: 0px;
    color: rgb(139, 155, 82);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:70px;
}
.pro span{
    justify-content: space-between;
    padding-left:10px;
}
.reset{
    color:aqua;
    background-color:gray;
    width:140px;
    height:40px;
    border:none;
    outline:none;
    cursor:pointer;
    border-radius: 50px;
    margin-right: 80px;
    margin-bottom:0px;
    font-size:20px;
}
.boxes{
    height: 120px;
    width:140px;
    display:grid;
    background:gray;
    border:2px solid gray; 
    margin:auto;
    border-radius:15px;
    cursor:pointer;

}
.board{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    height:570px;
    width:584px;
    margin:auto;
    display:flex;
    justify-content: center;
}
.boxes img{
    margin:25px 25px;
    margin:center;
}

   